---
- name: Install APT packages
  hosts: all
  become: true
  vars:
    packages:
      - "curl"

  tasks:
    - name: Install packages
      ansible.builtin.apt:
        name: "{{ item }}"
        update_cache: yes
        install_recommends: no
        state: latest
      loop: "{{ packages }}"
