---
- name: Run shell command
  hosts: all
  become: true
  vars:
    command: pwd
    directory: ~/
    executable: /bin/bash

  tasks:
    - name: Execute command
      ansible.builtin.shell:
        cmd: "{{ command }}"
        chdir: "{{ directory }}"
        executable: "{{ executable }}"
