---
- name: Setup Filebeat service
  hosts: all
  vars:
    filebeat_config_path: /etc/filebeat/filebeat.yml
    filebeat_input_path: /var/log/effective-range/*/*.log
    logstash_server_host: localhost
    logstash_server_port: 5044

  tasks:
    - name: Install Filebeat package
      ansible.builtin.apt:
        name: filebeat
        state: present

    - name: Update Filebeat configuration
      ansible.builtin.copy:
        dest: "{{ filebeat_config_path }}"
        backup: yes
        content: |
          filebeat.inputs:
            - type: log
              enabled: true
              paths:
                - {{ filebeat_input_path }}
          
          output.logstash:
            hosts: ["{{ logstash_server_host }}:{{ logstash_server_port }}"]

    - name: Restart Filebeat service
      ansible.builtin.systemd:
        name: filebeat
        state: restarted
        enabled: yes
