---
- name: Upgrade APT packages
  hosts: all
  become: true

  tasks:
    - name: Update APT package cache and upgrade installed packages
      ansible.builtin.apt:
        update_cache: yes
        only_upgrade: yes
        upgrade: yes
