---
- name: Get camera mode
  hosts: all
  become: true
  vars:
    manual_service: er-scarecrow-stream
    auto_service: er-scarecrow-detect

  tasks:
    - name: Get manual service status
      ansible.builtin.shell:
        cmd: "systemctl is-active {{ manual_service }}"
      ignore_errors: true
    - name: Get auto service status
      ansible.builtin.shell:
        cmd: "systemctl is-active {{ auto_service }}"
      ignore_errors: true
