---
- name: Set manual mode
  hosts: all
  become: true
  vars:
    manual_service: er-scarecrow-stream
    auto_service: er-scarecrow-detect

  tasks:
    - name: Stop auto service
      ansible.builtin.systemd:
        name: "{{ auto_service }}"
        state: stopped

    - name: Start manual service
      ansible.builtin.systemd:
        name: "{{ manual_service }}"
        state: started
